# MACHINE LEARNIG

Realizamos un **modelo predictivo** de **regresión lineal** para predecir el valor de la inversión en función de las 

siguientes variables: Inversión, País, Continente, Industria, Año en que se fundó la empresa, el porcentaje de rentabilidad que se quiere sobre la inversión.

En la implementación de este modelo, utilizamos la biblioteca **pycaret**.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import category_encoders as ce
from sklearn.ensemble import GradientBoostingRegressor

In [18]:
df = pd.read_csv("Data/df_reg.csv")

In [19]:
df.head()

,Industry,Country,Year_Founded,Funding,Continent,Valuation
0,Artificial intelligence,China,2012,8000,Asia,180000
1,Other,United States,2002,7000,North America,100000
2,E-commerce & direct-to-consumer,China,2008,2000,Asia,100000
3,Fintech,United States,2010,2000,North America,95000
4,Fintech,Sweden,2005,4000,Europe,46000

In [20]:
#años desde que se fundó
df['Years_Since_Founded'] = pd.Timestamp.now().year - df['Year_Founded']

# ratio de financiación y la edad de la empresa
df['Funding_Age_Ratio'] = df['Funding'] / df['Years_Since_Founded']

# Rentabilidad sobre la inversión
df['ROI'] = df['Valuation'] - df['Funding']

In [21]:
df.head()

,Industry,Country,Year_Founded,Funding,Continent,Valuation,Years_Since_Founded,Funding_Age_Ratio,ROI
0,Artificial intelligence,China,2012,8000,Asia,180000,11,727.272727,172000
1,Other,United States,2002,7000,North America,100000,21,333.333333,93000
2,E-commerce & direct-to-consumer,China,2008,2000,Asia,100000,15,133.333333,98000
3,Fintech,United States,2010,2000,North America,95000,13,153.846154,93000
4,Fintech,Sweden,2005,4000,Europe,46000,18,222.222222,42000

In [13]:
df.columns

Index(['Industry', 'Country', 'Year_Founded', 'Funding', 'Continent',
       'Valuation', 'Years_Since_Founded', 'Industry_Country',
       'Funding_Age_Ratio', 'Industry_Funding', 'ROI'],
      dtype='object')

In [14]:
df= df[['Industry', 'Country', 'Year_Founded', 'Funding', 'Continent', 'Years_Since_Founded', 'Industry_Country',
       'Funding_Age_Ratio', 'Industry_Funding', 'ROI','Valuation']]

Como tus datos de muestra no son suficientes para un modelo, he decidido crear nuevos a traves de muestras añadiéndole ruido.

In [22]:
num_rows_to_generate = 900

min_values = df.min()
max_values = df.max()

new_rows = df.sample(n=num_rows_to_generate, replace=True)

for column in df.select_dtypes(include=[np.number]).columns:
    noise = np.random.normal(0, 1, new_rows[column].shape)
    new_rows[column] += noise
    new_rows[column] = np.clip(new_rows[column], min_values[column], max_values[column])

new_rows['Valuation'] = np.clip(new_rows['Valuation'], None, df['Valuation'].max())

df = pd.concat([df, new_rows], ignore_index=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1945 entries, 0 to 1944
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Industry             1945 non-null   object
 1   Country              1945 non-null   object
 2   Year_Founded         1945 non-null   float64
 3   Funding              1945 non-null   float64
 4   Continent            1945 non-null   object
 5   Years_Since_Founded  1945 non-null   float64
 6   Industry_Country     1945 non-null   object
 7   Funding_Age_Ratio    1945 non-null   float64
 8   Industry_Funding     1945 non-null   object
 9   ROI                  1945 non-null   float64
 10  Valuation            1945 non-null   float64
dtypes: float64(6), object(5)
memory usage: 167.3+ KB

# Modelización

In [23]:
#importamos pycaret regression para calcular el price
from pycaret.regression import *

In [24]:
#hacemos un setup con visa a nuestro target ROI
setup = setup(df, target = 'Valuation',remove_outliers = True)

In [17]:
#Evaluamos modelos
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           00:26:15
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

In [25]:
#Vemos que el que mejor nos viene es regresión lineal
lr = create_model('lr') # lo creamos

Initiated  . . . . . . . . . . . . . . . . . .             09:25:59
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Compiling Library

In [26]:
# lo tuneamos XD
tuned_lr = tune_model(lr)

Initiated  . . . . . . . . . . . . . . . . . .                   09:29:18
Status     . . . . . . . . . . . . . . . . . .  Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .          Linear Regression

Fitting 10 folds for each of 2 candidates, totalling 20 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [27]:
#Veamos como se comporta
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [28]:
#finalizamos el modelo
final_lr_best = finalize_model(tuned_lr)

In [29]:
#guardamos el modelo 
save_model( final_lr_best, 'ml_unicornios')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\fabia\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Year_Founded', 'Funding',
                                              'Years_Since_Founded',
                                              'Funding_Age_Ratio', 'ROI'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Industry', 'Country',
                                              'Continent'],
                                     transformer=SimpleImputer(s...
                                     transformer=OneHotEncoder(cols=['Industry',
                                                                     'Continent'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['Country'],
                                     transformer=TargetEncoder(cols=['Country'],
                                                               handle_missing='return_nan'))),
                 ('remove_outliers',
                  TransformerWrapper(transformer=RemoveOutliers(random_state=4195))),
                 ('actual_estimator', LinearRegression(n_jobs=-1))]),
 'ml_unicornios.pkl')

In [5]:
df.columns

Index(['Industry', 'Country', 'Year_Founded', 'Funding', 'Continent',
       'Valuation'],
      dtype='object')

In [6]:
print(df['Continent'].unique())

['Asia' 'North America' 'Europe' 'Oceania' 'South America' 'Africa']