(Source: CB Insights & Crunchbase)

unicorn

(License: Public Domain)

In [1]:
import pandas as pd
import os

# Procesamiento y lectura de datasets

### Funciones para el procesamiento

In [2]:
def reporte (df):   
    
    """ Esta función recibe un df y nos imprime un reporte inicial del df"""

    print('El df esta formado por: ', df.shape[0], 'filas y', df.shape[1], 'columnas')
    print('Cantidad de valores duplicados: ',df.duplicated().sum())
    print('Cantidad de valores nulos: ', df.isnull().sum().sum())
    # print('Primeras filas del df:')
    # return df.head() # PARA VER LOS NOMBRES DE LAS COLUMNAS Y ASI TENER UNA PRIMERA VISTA DE LO QUE ES EL DF

In [3]:
def percentage_null (df):
    missing_data = pd.isnull(df).sum()
    missing_data_percentage = missing_data/len(df)*100 #Calculamos el % del los datos faltantes en cada columna
    nulos_totales= missing_data_percentage.sort_values(ascending = False) #Ordenamos de mayor a menor
    nulos_totales = pd.DataFrame(nulos_totales,columns=["% nulos"])
    return nulos_totales.round(2).T

### Trabajamos con los dataframes desde 2015 al 2022

#### 2015

In [4]:
df2015 = pd.read_excel('Data/unicorn_cb_11_dec_15.xlsx')
df2015['Year'] = '2015'

In [5]:
reporte(df2015)

El df esta formado por:  144 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

#### 2016

In [6]:
df2016 = pd.read_excel('Data/unicorn_cb_23_dec_16.xlsx')
df2016['Year'] = '2016'

In [7]:
reporte(df2016)

El df esta formado por:  183 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  3

In [8]:
percentage_null(df2016)

,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,1.64,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df2016[df2016['Investor'].isna()]

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Year
9,Flipkart,8/6/2012,India,eCommerce/Marketplace,"Accel Partners, Digital Sky\n\t Technologies,...",NaN,2016
12,Dropbox,10/5/2011,United States,Internet Software & Services,"Accel Partners, Greylock\n\t Partners, Index ...",NaN,2016
14,DJI\n\t Innovations,5/6/2015,China,Hardware,"Accel Partners, Sequoia\n\t Capital",NaN,2016

In [10]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
# df2016['Investor'] = df2016['Investor'].fillna('no_inversor')
df2016 = df2016.dropna()

#### 2017

In [11]:
df2017 = pd.read_excel('Data/unicorn_cb_23_dec_17.xlsx')
df2017['Year'] = '2017'

In [12]:
reporte(df2017)

El df esta formado por:  222 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

#### 2018

In [13]:
df2018 = pd.read_excel('Data/unicorn_cb_29_dec_18.xlsx')
df2018['Year'] = '2018'

In [14]:
reporte(df2018)

El df esta formado por:  305 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

#### 2019

In [15]:
df2019 = pd.read_excel('Data/unicorn_cb_31_dec_19.xlsx')
df2019['Year'] = '2019'

In [16]:
reporte(df2019)

El df esta formado por:  430 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  1

In [17]:
percentage_null(df2019)

,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,0.23,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2016['Investor'] = df2016['Investor'].fillna('no_inversor')

#### 2020

In [19]:
df2020 = pd.read_excel('Data/unicorn_cb_31_dec_20.xlsx')
df2020['Year'] = '2020'

In [20]:
reporte(df2020)

El df esta formado por:  515 filas y 7 columnas
Cantidad de valores duplicados:  2
Cantidad de valores nulos:  1

In [21]:
percentage_null(df2020)

,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,0.19,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2020['Investor'] = df2020['Investor'].fillna('no_inversor')

In [23]:
df2020 = df2020.drop_duplicates()

#### 2021

In [24]:
df2021 = pd.read_excel('Data/unicorn_cb_31_dec_21.xlsx')
df2021['Year'] = '2021'

Vemos que el la información para el año 2021 cambia con respecto a la que teníamos en los años anteriores, por lo que procedemos a convertir las columnas
de manera que todas tengan el mismo nombre.

In [25]:
df2020.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'Industry',
       'Investor', 'Year'],
      dtype='object')

In [26]:
df2021.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'Industry',
       'Investor', 'tablescraper-selected-row 7', 'Year'],
      dtype='object')

In [27]:
# se identificaron columnas con diferentes nombres por lo que se procedión a cambiarlas para que todas ssean iguales a la hora de concatenar
df2021 = df2021.rename(columns={'Industry':'City', 'Investor':'Industry','tablescraper-selected-row 7':'Investor'})

In [28]:
reporte(df2021)

El df esta formado por:  958 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  17

In [29]:
percentage_null(df2021)

,Investor,Company,Valuation ($B),Date Joined,Country,City,Industry,Year
% nulos,1.77,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df2021[df2021['Investor'].isna()]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor,Year
10,FTX,$25,7/20/2021,Hong Kong,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",NaN,2021
198,HyalRoute,$3.5,5/26/2020,Singapore,Mobile & telecommunications,Kuang-Chi,NaN,2021
406,Advance Intelligence Group,$2,9/23/2021,Singapore,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund",NaN,2021
535,$1.5,12/17/2021,United States,San Francisco,Internet software & services,"Accel, Benchmark, SV Angel",NaN,2021
585,Trax,$1.3,7/22/2019,Singapore,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC T...",NaN,2021
686,Amber Group,$1.1,6/21/2021,Hong Kong,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ve...",NaN,2021
691,Carousell,$1.1,9/15/2021,Singapore,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Vent...",NaN,2021
722,LinkSure Network,$1,1/1/2015,China,Shanghai,Mobile & telecommunications,NaN,2021
747,WeLab,$1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...",NaN,2021
823,PatSnap,$1,3/16/2021,Singapore,Internet software & services,"Sequoia Capital China, Shunwei Capital Partner...",NaN,2021
851,Moglix,$1,5/17/2021,Singapore,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway",NaN,2021
854,Matrixport,$1,6/1/2021,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DS...",NaN,2021
859,Carro,$1,6/14/2021,Singapore,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",NaN,2021
872,bolttech,$1,7/1/2021,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Acti...",NaN,2021
883,NIUM,$1,7/13/2021,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capit...",NaN,2021
895,Cider,$1,9/2/2021,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital",NaN,2021
907,Ninja Van,$1,9/27/2021,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic...",NaN,2021

In [31]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2021['Investor'] = df2021['Investor'].fillna('no_inversor')

Dentro de los valores nulos identificamos una columna que presenta un nombre que extraño, por lo que se peude ver en realidad es que $1.5 en realizad corresponde al valor y no se tiene el nombre de la empresa, por lo que tosas sus columnas uqedaron desfasadas. Se procede a elimiar esta fila

In [32]:
df2021[df2021['Company'] == '$1.5']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor,Year
535,$1.5,12/17/2021,United States,San Francisco,Internet software & services,"Accel, Benchmark, SV Angel",no_inversor,2021

In [33]:
drop = df2021[df2021['Company'] == '$1.5'].index
df2021.drop(drop, inplace=True)

#### 2022

Para el año 2022, conseguimos otra fuente por lo que tendremos que hacer cambios a las columnas para poder concatenar:

El archivo es un .csv. Presentaba una columna extra:'Unnamed: 0' que se eliminó y reenombramos una columna para que tenga el mismo nombre que los df anteriores.

In [34]:
df2022 = pd.read_csv('Data/unicorn_cb_15_nov_22.csv')
df2022['Year'] = '2022'

In [35]:
df2022.columns

Index(['Unnamed: 0', 'Company', 'Valuation ($B)', 'Date Joined', 'Country',
       'City', 'Industry', 'Select Investors', 'Year'],
      dtype='object')

In [36]:
df2022 = df2022.drop(['Unnamed: 0'],axis=1)
df2022 = df2022.rename(columns={'Select Investors':'Investor'})

In [37]:
reporte(df2022)

El df esta formado por:  1201 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  19

In [38]:
percentage_null(df2022)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,1.5,0.08,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
df2022['Investor'] = df2022['Investor'].fillna('no_inversor')

### Trabajamos con el dataframes del 2023

Este df lo vamoa a utlizar tanto para hacer tableros y anlálisis de este año específico, así como tambien para unirlo con el resto de los años anterios y asi poder hacer predicciones y diferentes comparaciones anuales.

In [40]:
df2023 = pd.read_excel('Data/CB-Insights_31_05_2023.xlsx')

#### Procesamiento:

In [41]:
reporte(df2023)

El df esta formado por:  1215 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  20

##### Cambio de nombre de las columnas:

Se realiza un cambio de nombre a las columnas para que coincidan con el resto de dataset por años.

In [42]:
# Transformamos los nombres de las columnas para que coincidan con el resto de los df
df2023 = df2023.rename(columns={'Select Investors':'Investor'})

##### Valores Nulos

In [43]:
percentage_null(df2023)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry
% nulos,1.48,0.16,0.0,0.0,0.0,0.0,0.0

In [44]:
# Para la columna 'City' vamos a reemplazar por la pabra: 'no_data'
df2023['City'] = df2023['City'].fillna('no_data')

In [45]:
# Para la columna 'Select Investors	' vamos a reemplazar por la pabra: 'no_inversor'
df2023['Investor'] = df2023['Investor'].fillna('no_inversor')

### Transformación del df 2023 para poder hacer un ***merge*** con los anteriores

In [46]:
# Cremos una nueva variable para transformar las columnas de manera que luego podamos concatenar los dataframes de todos los años
df2023_to_concat =df2023.copy()
df2023_to_concat['Year'] = 2023

In [47]:
# Seleccionamos solamente las columnas que son iguales en los anteriores df
df2023_to_concat = df2023_to_concat[['Company', 'Valuation ($B)', 'Date Joined', 'Country','Industry','Investor', 'Year', 'City']]

### Hacemos un Marge con todos los años:

In [48]:
unicorns = pd.concat([df2015,df2016,df2017,df2018,df2019,df2020,df2021,df2022,df2023_to_concat],axis=0)

## Procesamiento del nuevo dataframe con todos los años:

In [49]:
reporte(unicorns)

El df esta formado por:  5167 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  1813

### Valores Dulicados

### Valores Nulos

In [50]:
percentage_null(unicorns)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,35.07,0.02,0.0,0.0,0.0,0.0,0.0,0.0

Podemos ver que los valores nulos corresponden a la Ciudad e Inversor vamos a proceder a reemplazar esos valores nulos por palabras así evitaremos futuros errores

In [51]:
# Para la columna 'City' vamos a reemplazar por la pabra: 'no_data'
unicorns['City'] = unicorns['City'].fillna('no_data')

In [52]:
# Para la columna 'Investor' vamos a reemplazar por la pabra: 'no_inversor'
unicorns['Investor'] = unicorns['Investor'].fillna('no_inversor')

Listo ahora ya tenemos nuestro dataset listo para ser utilizado:

In [53]:
reporte(unicorns)

El df esta formado por:  5167 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

In [54]:
# unicorns.to_excel('unicornioProcesado.xlsx')

Transformación de tipos:

In [55]:
unicorns.dtypes

Company           object
Valuation ($B)    object
Date Joined       object
Country           object
Industry          object
Investor          object
Year              object
City              object
dtype: object

Valuation ($B)

In [56]:
# Limpieza quitando $, 
unicorns['Valuation ($B)'] = unicorns['Valuation ($B)'].str.replace('$',' ')

In [57]:
# Transformación a numérico
unicorns['Valuation ($B)'] = pd.to_numeric(unicorns['Valuation ($B)'])

Date Joined

In [58]:
unicorns.head()

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Year,City
0,Uber,51.0,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",2015,no_data
1,Xiaomi,46.0,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",2015,no_data
2,Airbnb,25.5,7/26/2011,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor...",2015,no_data
3,Palantir\n\t Technologies,20.0,5/5/2011,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2015,no_data
4,Snapchat,16.0,12/11/2013,United States,Social,"Benchmark Capital, General\n\t Catalyst Partn...",2015,no_data

In [59]:
unicorns['Date Joined'] = str(unicorns['Date Joined'])

In [60]:
# usamos la funcion Datetime y le indicamos el formato de la fecha que tiene esa columna.

# unicorns['Date Joined'] = pd.to_datetime(str(unicorns['Date Joined']),format='%m/%d/%Y')

# Análisis Exploratorio de Datos (EDA)