(Source: CB Insights & Crunchbase)

unicorn

(License: Public Domain)

In [60]:
import pandas as pd
import os

# Procesamiento y lectura de datasets

### Funciones para el procesamiento

In [61]:
def reporte (df):   
    
    """ Esta función recibe un df y nos imprime un reporte inicial del df"""

    print('El df esta formado por: ', df.shape[0], 'filas y', df.shape[1], 'columnas')
    print('Cantidad de valores duplicados: ',df.duplicated().sum())
    print('Cantidad de valores nulos: ', df.isnull().sum().sum())

In [62]:
def percentage_null (df):
    missing_data = pd.isnull(df).sum()
    missing_data_percentage = missing_data/len(df)*100 #Calculamos el % del los datos faltantes en cada columna
    nulos_totales= missing_data_percentage.sort_values(ascending = False) #Ordenamos de mayor a menor
    nulos_totales = pd.DataFrame(nulos_totales,columns=["% nulos"])
    return nulos_totales.round(2).T

### Trabajamos con los dataframes desde 2015 al 2022

#### 2015

In [121]:
df2015 = pd.read_excel('Data/unicorn_cb_11_dec_15.xlsx')
df2015['Year'] = '2015'

In [64]:
reporte(df2015)

El df esta formado por:  144 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

#### 2016

In [139]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2016 = pd.read_excel('Data/unicorn_cb_23_dec_16.xlsx')
df2016['Year'] = '2016'

In [143]:
# Imprimimos las 3 primeras lineas para ispeccionar:
df2016.head(3)

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Year
0,Uber,68.0,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",2016
1,Xiaomi,46.0,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",2016
2,Didi Chuxing,33.8,12/31/2014,China,On-Demand,"Matrix Partners, Tiger\n\t Global Management,...",2016

In [140]:
# Imprimimos el reporte inicial
reporte(df2016)

El df esta formado por:  183 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

In [141]:
def valuation (df):
    if df['Valuation ($B)'].dtypes== object:
        df['Valuation ($B)'] = df['Valuation ($B)'].str.replace('$',' ')
        df['Valuation ($B)'] = pd.to_numeric(df['Valuation ($B)'])
        
valuation(df2016)

In [142]:
df2016['Date Joined'] = pd.to_datetime(str(2016['Date Joined']),format='%m/%d/%Y')

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\fabia\AppData\Local\Temp\ipykernel_24284\749549421.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  df2016['Date Joined'] = pd.to_datetime(str(2016['Date Joined']),format='%m/%d/%Y')
C:\Users\fabia\AppData\Local\Temp\ipykernel_24284\749549421.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  df2016['Date Joined'] = pd.to_datetime(str(2016['Date Joined']),format='%m/%d/%Y')
C:\Users\fabia\AppData\Local\Temp\ipykernel_24284\749549421.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  df2016['Date Joined'] = pd.to_datetime(str(2016['Date Joined']),format='%m/%d/%Y')

TypeError: 'int' object is not subscriptable

In [ ]:
    if df['Date Joined'].dtypes== object:
        df['Date Joined'] = pd.to_datetime(str(df['Date Joined']),format='%m/%d/%Y')

In [138]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         183 non-null    object
 1   Valuation ($B)  180 non-null    float64
 2   Date Joined     183 non-null    object
 3   Country         183 non-null    object
 4   Industry        183 non-null    object
 5   Investor        183 non-null    object
 6   Year            183 non-null    object
dtypes: float64(1), object(6)
memory usage: 10.1+ KB

#### 2017

In [67]:
df2017 = pd.read_excel('Data/unicorn_cb_23_dec_17.xlsx')
df2017['Year'] = '2017'

In [68]:
reporte(df2017)

El df esta formado por:  222 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

#### 2018

In [69]:
df2018 = pd.read_excel('Data/unicorn_cb_29_dec_18.xlsx')
df2018['Year'] = '2018'

In [70]:
reporte(df2018)

El df esta formado por:  305 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

#### 2019

In [71]:
df2019 = pd.read_excel('Data/unicorn_cb_31_dec_19.xlsx')
df2019['Year'] = '2019'

In [72]:
reporte(df2019)

El df esta formado por:  430 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  1

In [73]:
percentage_null(df2019)

,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,0.23,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2016['Investor'] = df2016['Investor'].fillna('no_inversor')

#### 2020

In [75]:
df2020 = pd.read_excel('Data/unicorn_cb_31_dec_20.xlsx')
df2020['Year'] = '2020'

In [76]:
reporte(df2020)

El df esta formado por:  515 filas y 7 columnas
Cantidad de valores duplicados:  2
Cantidad de valores nulos:  1

In [77]:
percentage_null(df2020)

,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,0.19,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2020['Investor'] = df2020['Investor'].fillna('no_inversor')

In [79]:
df2020 = df2020.drop_duplicates()

#### 2021

In [80]:
df2021 = pd.read_excel('Data/unicorn_cb_31_dec_21.xlsx')
df2021['Year'] = '2021'

Vemos que el la información para el año 2021 cambia con respecto a la que teníamos en los años anteriores, por lo que procedemos a convertir las columnas
de manera que todas tengan el mismo nombre.

In [81]:
df2020.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'Industry',
       'Investor', 'Year'],
      dtype='object')

In [82]:
df2021.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'Industry',
       'Investor', 'tablescraper-selected-row 7', 'Year'],
      dtype='object')

In [83]:
# se identificaron columnas con diferentes nombres por lo que se procedión a cambiarlas para que todas ssean iguales a la hora de concatenar
df2021 = df2021.rename(columns={'Industry':'City', 'Investor':'Industry','tablescraper-selected-row 7':'Investor'})

In [84]:
reporte(df2021)

El df esta formado por:  958 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  17

In [85]:
percentage_null(df2021)

,Investor,Company,Valuation ($B),Date Joined,Country,City,Industry,Year
% nulos,1.77,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
df2021[df2021['Investor'].isna()]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor,Year
10,FTX,$25,7/20/2021,Hong Kong,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",NaN,2021
198,HyalRoute,$3.5,5/26/2020,Singapore,Mobile & telecommunications,Kuang-Chi,NaN,2021
406,Advance Intelligence Group,$2,9/23/2021,Singapore,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund",NaN,2021
535,$1.5,12/17/2021,United States,San Francisco,Internet software & services,"Accel, Benchmark, SV Angel",NaN,2021
585,Trax,$1.3,7/22/2019,Singapore,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC T...",NaN,2021
686,Amber Group,$1.1,6/21/2021,Hong Kong,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ve...",NaN,2021
691,Carousell,$1.1,9/15/2021,Singapore,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Vent...",NaN,2021
722,LinkSure Network,$1,1/1/2015,China,Shanghai,Mobile & telecommunications,NaN,2021
747,WeLab,$1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...",NaN,2021
823,PatSnap,$1,3/16/2021,Singapore,Internet software & services,"Sequoia Capital China, Shunwei Capital Partner...",NaN,2021
851,Moglix,$1,5/17/2021,Singapore,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway",NaN,2021
854,Matrixport,$1,6/1/2021,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DS...",NaN,2021
859,Carro,$1,6/14/2021,Singapore,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",NaN,2021
872,bolttech,$1,7/1/2021,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Acti...",NaN,2021
883,NIUM,$1,7/13/2021,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capit...",NaN,2021
895,Cider,$1,9/2/2021,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital",NaN,2021
907,Ninja Van,$1,9/27/2021,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic...",NaN,2021

In [87]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2021['Investor'] = df2021['Investor'].fillna('no_inversor')

Dentro de los valores nulos identificamos una columna que presenta un nombre que extraño, por lo que se peude ver en realidad es que $1.5 en realizad corresponde al valor y no se tiene el nombre de la empresa, por lo que tosas sus columnas uqedaron desfasadas. Se procede a elimiar esta fila

In [88]:
df2021[df2021['Company'] == '$1.5']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor,Year
535,$1.5,12/17/2021,United States,San Francisco,Internet software & services,"Accel, Benchmark, SV Angel",no_inversor,2021

In [89]:
drop = df2021[df2021['Company'] == '$1.5'].index
df2021.drop(drop, inplace=True)

#### 2022

Para el año 2022, conseguimos otra fuente por lo que tendremos que hacer cambios a las columnas para poder concatenar:

El archivo es un .csv. Presentaba una columna extra:'Unnamed: 0' que se eliminó y reenombramos una columna para que tenga el mismo nombre que los df anteriores.

In [90]:
df2022 = pd.read_csv('Data/unicorn_cb_15_nov_22.csv')
df2022['Year'] = '2022'

In [91]:
df2022.columns

Index(['Unnamed: 0', 'Company', 'Valuation ($B)', 'Date Joined', 'Country',
       'City', 'Industry', 'Select Investors', 'Year'],
      dtype='object')

In [92]:
df2022 = df2022.drop(['Unnamed: 0'],axis=1)
df2022 = df2022.rename(columns={'Select Investors':'Investor'})

In [93]:
reporte(df2022)

El df esta formado por:  1201 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  19

In [94]:
percentage_null(df2022)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,1.5,0.08,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
df2022['Investor'] = df2022['Investor'].fillna('no_inversor')

### Trabajamos con el dataframes del 2023

Este df lo vamoa a utlizar tanto para hacer tableros y anlálisis de este año específico, así como tambien para unirlo con el resto de los años anterios y asi poder hacer predicciones y diferentes comparaciones anuales.

In [96]:
df2023 = pd.read_excel('Data/CB-Insights_31_05_2023.xlsx')

#### Procesamiento:

In [97]:
reporte(df2023)

El df esta formado por:  1215 filas y 7 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  20

##### Cambio de nombre de las columnas:

In [98]:
df2023.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,ByteDance,225.0,2017-04-07,China,Beijing,Media & Entertainment,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,137.0,2012-12-01,United States,Hawthorne,Industrials,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,2018-07-03,China,Shenzhen,Consumer & Retail,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,50.0,2014-01-23,United States,San Francisco,Financial Services,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.0,2018-01-08,Australia,Surry Hills,Enterprise Tech,"Sequoia Capital China, Blackbird Ventures, Mat..."

Se realiza un cambio de nombre a las columnas para que coincidan con el resto de dataset por años.

In [99]:
# Transformamos los nombres de las columnas para que coincidan con el resto de los df
df2023 = df2023.rename(columns={'Select Investors':'Investor'})

##### Valores Nulos

In [100]:
percentage_null(df2023)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry
% nulos,1.48,0.16,0.0,0.0,0.0,0.0,0.0

In [101]:
# Para la columna 'City' vamos a reemplazar por la pabra: 'no_data'
df2023['City'] = df2023['City'].fillna('no_data')

In [102]:
# Para la columna 'Select Investors	' vamos a reemplazar por la pabra: 'no_inversor'
df2023['Investor'] = df2023['Investor'].fillna('no_inversor')

In [118]:
df2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215 entries, 0 to 1214
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1215 non-null   object
 1   Valuation ($B)  1215 non-null   float64
 2   Date Joined     1215 non-null   datetime64[ns]
 3   Country         1215 non-null   object
 4   City            1215 non-null   object
 5   Industry        1215 non-null   object
 6   Investor        1215 non-null   object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 66.6+ KB

### Transformación del df 2023 para poder hacer un ***merge*** con los anteriores

In [103]:
# Cremos una nueva variable para transformar las columnas de manera que luego podamos concatenar los dataframes de todos los años
df2023_to_concat =df2023.copy()
df2023_to_concat['Year'] = 2023

In [104]:
# Seleccionamos solamente las columnas que son iguales en los anteriores df
df2023_to_concat = df2023_to_concat[['Company', 'Valuation ($B)', 'Date Joined', 'Country','Industry','Investor', 'Year', 'City']]

### Hacemos un Marge con todos los años:

In [105]:
unicorns = pd.concat([df2015,df2016,df2017,df2018,df2019,df2020,df2021,df2022,df2023_to_concat],axis=0)

## Procesamiento del nuevo dataframe con todos los años:

In [106]:
reporte(unicorns)

El df esta formado por:  5170 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  1816

### Valores Dulicados

### Valores Nulos

In [107]:
percentage_null(unicorns)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Year
% nulos,35.11,0.02,0.0,0.0,0.0,0.0,0.0,0.0

Podemos ver que los valores nulos corresponden a la Ciudad e Inversor vamos a proceder a reemplazar esos valores nulos por palabras así evitaremos futuros errores

In [108]:
# Para la columna 'City' vamos a reemplazar por la pabra: 'no_data'
unicorns['City'] = unicorns['City'].fillna('no_data')

In [109]:
unicorns['Investor'] = unicorns['Investor'].fillna('no_investor')

Listo ahora ya tenemos nuestro dataset listo para ser utilizado:

In [110]:
reporte(unicorns)

El df esta formado por:  5170 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

Transformación de tipos:

In [111]:
unicorns.dtypes

Company           object
Valuation ($B)    object
Date Joined       object
Country           object
Industry          object
Investor          object
Year              object
City              object
dtype: object

Valuation ($B)

In [112]:
# Limpieza quitando $, 
unicorns['Valuation ($B)'] = unicorns['Valuation ($B)'].str.replace('$',' ')

In [113]:
# Transformación a numérico
unicorns['Valuation ($B)'] = pd.to_numeric(unicorns['Valuation ($B)'])

Date Joined

In [114]:
unicorns.head()

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Year,City
0,Uber,51.0,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",2015,no_data
1,Xiaomi,46.0,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",2015,no_data
2,Airbnb,25.5,7/26/2011,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor...",2015,no_data
3,Palantir\n\t Technologies,20.0,5/5/2011,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2015,no_data
4,Snapchat,16.0,12/11/2013,United States,Social,"Benchmark Capital, General\n\t Catalyst Partn...",2015,no_data

In [115]:
# unicorns['Date Joined'] = str(unicorns['Date Joined'])

In [116]:
# usamos la funcion Datetime y le indicamos el formato de la fecha que tiene esa columna.

# unicorns['Date Joined'] = pd.to_datetime(str(unicorns['Date Joined']),format='%m/%d/%Y')

In [117]:
unicorns.to_excel('unicornioProcesado2.xlsx')

In [119]:
reporte(unicorns)

El df esta formado por:  5170 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  1218

# Análisis Exploratorio de Datos (EDA)