# 1. Introducción

(Source: CB Insights & Crunchbase)

unicorn

(License: Public Domain)

Dataset:
* 2015 l 2011 - https://www.kaggle.com/datasets/cheeann290/unicorn
* 2022 - https://www.kaggle.com/datasets/rajkumarpandey02/complete-list-of-unicorn-companies
* 2023 - https://www.cbinsights.com/research-unicorn-companies

## 1.1 Librerias

In [512]:
import numpy as np
import pandas as pd


#to make graphs
import matplotlib.pyplot as plt
import seaborn as sns

#to make the plotly graphs
import plotly.graph_objs as go
import plotly.express as px

#to make maps
import geopandas as gpd

# warnings
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=RuntimeWarning)

## 1.2 Lectura de datos y Procesamiento

### Funciones para el procesamiento

In [513]:
def reporte (df):   
    
    """ Esta función recibe un df y nos imprime un reporte inicial del df"""

    print('El df esta formado por: ', df.shape[0], 'filas y', df.shape[1], 'columnas')
    print('Cantidad de valores duplicados: ',df.duplicated().sum())
    print('Cantidad de valores nulos: ', df.isnull().sum().sum())

In [514]:
def percentage_null (df):

    """ esta función calcula el % de valores nulos que presenta el df
    devuelve un df con el % de nulos por cada columna"""
    
    missing_data = pd.isnull(df).sum()
    missing_data_percentage = missing_data/len(df)*100 #Calculamos el % del los datos faltantes en cada columna
    nulos_totales= missing_data_percentage.sort_values(ascending = False) #Ordenamos de mayor a menor
    nulos_totales = pd.DataFrame(nulos_totales,columns=["% nulos"])
    return nulos_totales.round(2).T

In [515]:
def transform (df):

    """ Esta función recibe un df y nos transforma las columnas Valation en numerica quitando los caacteres $ 
    y tansforma la columna DateJoined en tipo fecha""" 

    if df['Valuation ($B)'].dtypes== object:
        df['Valuation ($B)'] = df['Valuation ($B)'].str.replace('$',' ')
        df['Valuation ($B)'] = pd.to_numeric(df['Valuation ($B)'])

    if df['Date Joined'].dtypes== object:
        df['Date Joined'] = pd.to_datetime(df['Date Joined'],format='%m/%d/%Y')

    if df['Day_List'].dtypes== object:
        df['Day_List'] = pd.to_datetime(df['Day_List'],format='%m/%d/%Y')

### Lectura y tranformación de los dataframes desde 2015 al 2022

#### 2015

In [516]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2015 = pd.read_excel('Data/unicorn_cb_11_dec_15.xlsx')
df2015['Day_List'] = '12/11/2015'
df2015['Year'] = 2015

In [517]:
# Imprimimos el reporte inicial
reporte(df2015)

El df esta formado por:  144 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

In [518]:
# Imprimimos las 3 primeras lineas para ispeccionar:
df2015.head(3)

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year
0,Uber,$51,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",12/11/2015,2015
1,Xiaomi,$46,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",12/11/2015,2015
2,Airbnb,$25.5,7/26/2011,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor...",12/11/2015,2015

In [519]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2015)

In [520]:
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         144 non-null    object
 1   Valuation ($B)  144 non-null    float64
 2   Date Joined     144 non-null    datetime64[ns]
 3   Country         144 non-null    object
 4   Industry        144 non-null    object
 5   Investor        144 non-null    object
 6   Day_List        144 non-null    datetime64[ns]
 7   Year            144 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 9.1+ KB

#### 2016

In [521]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2016 = pd.read_excel('Data/unicorn_cb_23_dec_16.xlsx')
df2016['Day_List'] = '12/23/2016'
df2016['Year'] = 2016

In [522]:
# Imprimimos el reporte inicial
reporte(df2016)

El df esta formado por:  183 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

In [523]:
# Imprimimos las 3 primeras lineas para ispeccionar:
df2016.head(3)

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year
0,Uber,$68,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",12/23/2016,2016
1,Xiaomi,$46,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",12/23/2016,2016
2,Didi Chuxing,$33.8,12/31/2014,China,On-Demand,"Matrix Partners, Tiger\n\t Global Management,...",12/23/2016,2016

In [524]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2016)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         183 non-null    object
 1   Valuation ($B)  183 non-null    float64
 2   Date Joined     183 non-null    datetime64[ns]
 3   Country         183 non-null    object
 4   Industry        183 non-null    object
 5   Investor        183 non-null    object
 6   Day_List        183 non-null    datetime64[ns]
 7   Year            183 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 11.6+ KB

#### 2017

In [525]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2017 = pd.read_excel('Data/unicorn_cb_23_dec_17.xlsx')
df2017['Day_List'] = '12/23/2017'
df2017['Year'] = 2017

In [526]:
# Imprimimos el reporte inicial
reporte(df2017)

El df esta formado por:  222 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

In [527]:
# Imprimimos las 3 primeras lineas para ispeccionar:
df2017.head(3)

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year
0,Uber,$68,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",12/23/2017,2017
1,Didi Chuxing,$56,12/31/2014,China,On-Demand,"Matrix Partners, Tiger\n\t Global Management,...",12/23/2017,2017
2,Xiaomi,$46,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",12/23/2017,2017

In [528]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2017)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         222 non-null    object
 1   Valuation ($B)  222 non-null    float64
 2   Date Joined     222 non-null    datetime64[ns]
 3   Country         222 non-null    object
 4   Industry        222 non-null    object
 5   Investor        222 non-null    object
 6   Day_List        222 non-null    datetime64[ns]
 7   Year            222 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 14.0+ KB

#### 2018

In [529]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2018 = pd.read_excel('Data/unicorn_cb_29_dec_18.xlsx')
df2018['Day_List'] = '12/29/2018'
df2018['Year'] = 2018

In [530]:
# Imprimimos el reporte inicial
reporte(df2018)

El df esta formado por:  305 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

In [531]:
# Imprimimos las 3 primeras lineas para ispeccionar:
df2018.head(3)

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year
0,Toutiao (Bytedance),$75,4/7/2017,China,Digital Media/ AI,"Sequoia Capital China, SIG Asia Investments, S...",12/29/2018,2018
1,Uber,$72,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",12/29/2018,2018
2,Didi Chuxing,$56,12/31/2014,China,On-Demand,"Matrix Partners, Tiger\n\t Global Management,...",12/29/2018,2018

In [532]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2018)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         305 non-null    object
 1   Valuation ($B)  305 non-null    float64
 2   Date Joined     305 non-null    datetime64[ns]
 3   Country         305 non-null    object
 4   Industry        305 non-null    object
 5   Investor        305 non-null    object
 6   Day_List        305 non-null    datetime64[ns]
 7   Year            305 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 19.2+ KB

#### 2019

In [533]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2019 = pd.read_excel('Data/unicorn_cb_31_dec_19.xlsx')
df2019['Day_List'] = '12/31/2019'
df2019['Year'] = 2019

In [534]:
# Imprimimos el reporte inicial
reporte(df2019)

El df esta formado por:  430 filas y 8 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  1

In [535]:
# Calculamos e identificamos en que columna estan nuestros valores nulos:
percentage_null(df2019)

,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Day_List,Year
% nulos,0.23,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [536]:
# Reemplazamos nulos en la columna 'Select Investors' por la pabra: 'no_inversor'
df2019['Investor'] = df2019['Investor'].fillna('no_inversor')

In [537]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2019)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         430 non-null    object
 1   Valuation ($B)  430 non-null    float64
 2   Date Joined     430 non-null    datetime64[ns]
 3   Country         430 non-null    object
 4   Industry        430 non-null    object
 5   Investor        430 non-null    object
 6   Day_List        430 non-null    datetime64[ns]
 7   Year            430 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 27.0+ KB

#### 2020

In [538]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2020 = pd.read_excel('Data/unicorn_cb_31_dec_20.xlsx')
df2020['Day_List'] = '12/31/2020'
df2020['Year'] = 2020

In [539]:
# Imprimimos el reporte inicial
reporte(df2020)

El df esta formado por:  515 filas y 8 columnas
Cantidad de valores duplicados:  2
Cantidad de valores nulos:  1

In [540]:
# Calculamos e identificamos en que columna estan nuestros valores nulos:
percentage_null(df2020)

,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Day_List,Year
% nulos,0.19,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [541]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2020['Investor'] = df2020['Investor'].fillna('no_inversor')

In [542]:
# Eliminamos valores Duplicados:
df2020 = df2020.drop_duplicates()

In [543]:
# Intentando aplicar la funcion: transform(df2020), hemos detectado que el valor de las filas que se detallan a continuación no presentaban valores
# formato fecha, por lo que proedimos a corregir eso:
df2020.loc[[273,274]]

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year
273,Olive,$1.5,12/1//2020,United States,Internet software & services,"Drive Capital, General Catalyst, Ascension Ven...",12/31/2020,2020
274,Strava,$1.5,11/16//2020,United States,Internet software & services,"Jackson Square Ventures, Madrone Capital Partn...",12/31/2020,2020

In [544]:
# Las fechas presentaban doble //, por lo que se procede a reemplazar
df2020.at[273, 'Date Joined'] = '12/1/2020'
df2020.at[274, 'Date Joined'] = '11/16/2020'

In [545]:
# Ahora si, utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2020)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, 0 to 514
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         513 non-null    object
 1   Valuation ($B)  513 non-null    float64
 2   Date Joined     513 non-null    datetime64[ns]
 3   Country         513 non-null    object
 4   Industry        513 non-null    object
 5   Investor        513 non-null    object
 6   Day_List        513 non-null    datetime64[ns]
 7   Year            513 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 52.2+ KB

#### 2021

In [546]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2021 = pd.read_excel('Data/unicorn_cb_31_dec_21.xlsx')
df2021['Day_List'] = '12/31/2021'
df2021['Year'] = 2021

In [547]:
# Imprimimos el reporte inicial
reporte(df2021)

El df esta formado por:  958 filas y 9 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  4

In [548]:
# Imprimimos las 3 primeras filas para inspeccionar:
df2021.head(3)

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,tablescraper-selected-row 7,Day_List,Year
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",12/31/2021,2021
1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",12/31/2021,2021
2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",12/31/2021,2021

Vemos que el la información para el año 2021 cambia con respecto a la que teníamos en los años anteriores, por lo que procedemos a convertir las columnas
de manera que todas tengan el mismo nombre.

In [549]:
# se identificaron columnas con diferentes nombres por lo que se procedión a cambiarlas para que todas ssean iguales a la hora de concatenar
df2021 = df2021.rename(columns={'Industry':'City', 'Investor':'Industry','tablescraper-selected-row 7':'Investor'})

In [550]:
percentage_null(df2021)

,Investor,City,Company,Valuation ($B),Date Joined,Country,Industry,Day_List,Year
% nulos,0.31,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [551]:
# Imprimimos los nulos para identificarlos, ya que el contenido de los dataset han tenido errores de imputación:
df2021[df2021['Investor'].isna()]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor,Day_List,Year
535,$1.5,12/17/2021,United States,San Francisco,Internet software & services,"Accel, Benchmark, SV Angel",NaN,12/31/2021,2021
722,LinkSure Network,$1,1/1/2015,China,Shanghai,Mobile & telecommunications,NaN,12/31/2021,2021
851,Moglix,$1,5/17/2021,Singapore,Singapore,E-commerce & direct-to-consumer,NaN,12/31/2021,2021

In [552]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2021['Investor'] = df2021['Investor'].fillna('no_inversor')

Dentro de los valores nulos identificamos una columna que presenta un nombre que extraño, por lo que se peude ver en realidad es que $1.5 en realizad corresponde al valor y no se tiene el nombre de la empresa, por lo que tosas sus columnas uqedaron desfasadas. Se procede a elimiar esta fila

In [553]:
# filtramos la fila donde el nombre de la companía es "$1.5" 
df2021[df2021['Company'] == '$1.5']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor,Day_List,Year
535,$1.5,12/17/2021,United States,San Francisco,Internet software & services,"Accel, Benchmark, SV Angel",no_inversor,12/31/2021,2021

In [554]:
# Procedemos a eliminarla ya que carecemos de este nombre y no podemos continuar con la busqueda de este dato faltante.
drop = df2021[df2021['Company'] == '$1.5'].index
df2021.drop(drop, inplace=True)

In [555]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2021)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 957 entries, 0 to 957
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         957 non-null    object
 1   Valuation ($B)  957 non-null    float64
 2   Date Joined     957 non-null    datetime64[ns]
 3   Country         957 non-null    object
 4   City            956 non-null    object
 5   Industry        957 non-null    object
 6   Investor        957 non-null    object
 7   Day_List        957 non-null    datetime64[ns]
 8   Year            957 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(5)
memory usage: 74.8+ KB

#### 2022

Para el año 2022, conseguimos otra fuente por lo que tendremos que hacer cambios a las columnas para poder concatenar:

El archivo es un .csv. Presentaba una columna extra:'Unnamed: 0' que se eliminó y reenombramos una columna para que tenga el mismo nombre que los df anteriores.

In [556]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2022 = pd.read_csv('Data/unicorn_cb_15_nov_22.csv')
df2022['Day_List'] = '11/15/2022'
df2022['Year'] = 2022

In [557]:
# Imprimimos el reporte inicial
reporte(df2022)

El df esta formado por:  1201 filas y 10 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  19

In [558]:
# Imprimimos las 3 primeras filas para inspeccionar:
df2022.head(3)

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Day_List,Year
0,0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",11/15/2022,2022
1,1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",11/15/2022,2022
2,2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",11/15/2022,2022

In [559]:
# Eliminamos la columna: 'Unnamed: 0' y reenombramos la columna: 'Select Investors'
df2022 = df2022.drop(['Unnamed: 0'],axis=1)
df2022 = df2022.rename(columns={'Select Investors':'Investor'})

In [560]:
# Calculamos e identificamos en que columna estan nuestros valores nulos:
percentage_null(df2022)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Day_List,Year
% nulos,1.5,0.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [561]:
# Reemplazamos nulos en la columna 'Select Investors' vamos a reemplazar por la pabra: 'no_inversor'
df2022['Investor'] = df2022['Investor'].fillna('no_inversor')

In [562]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2022)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1201 non-null   object
 1   Valuation ($B)  1201 non-null   float64
 2   Date Joined     1201 non-null   datetime64[ns]
 3   Country         1201 non-null   object
 4   City            1183 non-null   object
 5   Industry        1201 non-null   object
 6   Investor        1201 non-null   object
 7   Day_List        1201 non-null   datetime64[ns]
 8   Year            1201 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(5)
memory usage: 84.6+ KB

### Lectura y tranformación del dataframes del 2023

Este df lo vamoa a utlizar tanto para hacer tableros y anlálisis de este año específico, así como tambien para unirlo con el resto de los años anterios y asi poder hacer predicciones y diferentes comparaciones anuales.

In [563]:
# Leemos el dataset y le creamos una columna que corresponde al año de la lista
df2023 = pd.read_excel('Data/CB-Insights_31_05_2023.xlsx')
df2023['Day_List'] = '05/31/2023'
df2023['Year'] = 2023

#### Procesamiento:

In [564]:
# Imprimimos el reporte inicial
reporte(df2023)

El df esta formado por:  1215 filas y 9 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  20

##### Cambio de nombre de las columnas:

In [565]:
# Imprimimos las 3 primeras lineas para ispeccionar:
df2023.head(3)

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Day_List,Year
0,ByteDance,225.0,2017-04-07,China,Beijing,Media & Entertainment,"Sequoia Capital China, SIG Asia Investments, S...",05/31/2023,2023
1,SpaceX,137.0,2012-12-01,United States,Hawthorne,Industrials,"Founders Fund, Draper Fisher Jurvetson, Rothen...",05/31/2023,2023
2,SHEIN,100.0,2018-07-03,China,Shenzhen,Consumer & Retail,"Tiger Global Management, Sequoia Capital China...",05/31/2023,2023

Se realiza un cambio de nombre a las columnas para que coincidan con el resto de dataset por años.

In [566]:
# Transformamos los nombres de las columnas para que coincidan con el resto de los df
df2023 = df2023.rename(columns={'Select Investors':'Investor'})

##### Valores Nulos

In [567]:
# Calculamos e identificamos en que columna estan nuestros valores nulos:
percentage_null(df2023)

,City,Investor,Company,Valuation ($B),Date Joined,Country,Industry,Day_List,Year
% nulos,1.48,0.16,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [568]:
# Para la columna 'City' vamos a reemplazar por la pabra: 'no_data'
df2023['City'] = df2023['City'].fillna('no_data')

In [569]:
# Para la columna 'Select Investors	' vamos a reemplazar por la pabra: 'no_inversor'
df2023['Investor'] = df2023['Investor'].fillna('no_inversor')

##### Transformación de Columnas

In [570]:
# Utilizamos nuestra función para transformar las columnas: Valuation y Date Joined.
transform(df2019)
# Vemos que nuestras columnas presentan el tipo de dato correccto
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         430 non-null    object
 1   Valuation ($B)  430 non-null    float64
 2   Date Joined     430 non-null    datetime64[ns]
 3   Country         430 non-null    object
 4   Industry        430 non-null    object
 5   Investor        430 non-null    object
 6   Day_List        430 non-null    datetime64[ns]
 7   Year            430 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 27.0+ KB

### Transformación del df 2023 para poder hacer un ***merge*** con los anteriores

In [571]:
# Cremos una nueva variable para transformar las columnas de manera que luego podamos concatenar los dataframes de todos los años
df2023_to_concat =df2023.copy()

In [572]:
# Seleccionamos solamente las columnas que son iguales en los anteriores df
df2023_to_concat = df2023_to_concat[['Company', 'Valuation ($B)', 'Date Joined', 'Country','Industry','Investor', 'Day_List','Year', 'City']]

### Hacemos un Marge con todos los años:

In [573]:
unicorns = pd.concat([df2015,df2016,df2017,df2018,df2019,df2020,df2021,df2022,df2023_to_concat],axis=0)

### Procesamiento del nuevo dataframe con todos los años:

In [574]:
# Imprimimos el reporte inicial, para ver como se han concatenado los valores
reporte(unicorns)

El df esta formado por:  5170 filas y 9 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  1816

### Valores Nulos

In [575]:
# Calculamos e identificamos en que columna estan nuestros valores nulos:
percentage_null(unicorns)

,City,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year
% nulos,35.13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Podemos ver que los valores nulos corresponden a la Ciudad  ya que los primeros años no presentaban esta información.

Se proceder a reemplazar esos valores nulos por palabras así evitaremos futuros errores

In [576]:
# Para la columna 'City' vamos a reemplazar por la pabra: 'no_data'
unicorns['City'] = unicorns['City'].fillna('no_data')

### Revisón final

Listo ahora ya tenemos nuestro dataset listo para ser utilizado:

In [577]:
reporte(unicorns)

El df esta formado por:  5170 filas y 9 columnas
Cantidad de valores duplicados:  0
Cantidad de valores nulos:  0

In [578]:
transform(unicorns)

In [579]:
unicorns.dtypes

Company                   object
Valuation ($B)           float64
Date Joined       datetime64[ns]
Country                   object
Industry                  object
Investor                  object
Day_List          datetime64[ns]
Year                       int64
City                      object
dtype: object

# 2. Análisis Exploratorio de Datos (EDA)

***Contenido de las Columnas***:
* Company: Nombre de la empresa
* Valuation ($B): Valoración de la empresa en miles de millones de dólares
* Date Joined: la fecha en la que la empresa alcanzó los 1.000 millones de dólares de valoración
* Country: País en el que se fundó la empresa
* Industry: industria de la empresa
* Investor: las 4 principales empresas inversoras o inversores individuales (algunos tienen menos de 4)
* Year: Año de la lista
* City: Ciudad en la que se fundó la empresa.

In [580]:
unicorns.head()

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year,City
0,Uber,51.0,2013-08-23,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",2015-12-11,2015,no_data
1,Xiaomi,46.0,2011-12-21,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",2015-12-11,2015,no_data
2,Airbnb,25.5,2011-07-26,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor...",2015-12-11,2015,no_data
3,Palantir\n\t Technologies,20.0,2011-05-05,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2015-12-11,2015,no_data
4,Snapchat,16.0,2013-12-11,United States,Social,"Benchmark Capital, General\n\t Catalyst Partn...",2015-12-11,2015,no_data

## 2.1. Situación Actual

### Top 10 de empresas unicornios

In [581]:
top_10_2023 = unicorns[unicorns['Year']==2023].head(10)
top_10_2023

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year,City
0,ByteDance,225.0,2017-04-07,China,Media & Entertainment,"Sequoia Capital China, SIG Asia Investments, S...",2023-05-31,2023,Beijing
1,SpaceX,137.0,2012-12-01,United States,Industrials,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2023-05-31,2023,Hawthorne
2,SHEIN,100.0,2018-07-03,China,Consumer & Retail,"Tiger Global Management, Sequoia Capital China...",2023-05-31,2023,Shenzhen
3,Stripe,50.0,2014-01-23,United States,Financial Services,"Khosla Ventures, LowercaseCapital, capitalG",2023-05-31,2023,San Francisco
4,Canva,40.0,2018-01-08,Australia,Enterprise Tech,"Sequoia Capital China, Blackbird Ventures, Mat...",2023-05-31,2023,Surry Hills
5,Revolut,33.0,2018-04-26,United Kingdom,Financial Services,"Index Ventures, DST Global, Ribbit Capital",2023-05-31,2023,London
6,Epic Games,31.5,2018-10-26,United States,Media & Entertainment,"Tencent Holdings, KKR, Smash Ventures",2023-05-31,2023,Cary
7,Databricks,31.0,2019-02-05,United States,Enterprise Tech,"Andreessen Horowitz, New Enterprise Associates...",2023-05-31,2023,San Francisco
8,Fanatics,31.0,2012-06-06,United States,Consumer & Retail,"SoftBank Group, Andreessen Horowitz, Temasek H...",2023-05-31,2023,Jacksonville
9,OpenAI,29.0,2019-07-22,United States,Enterprise Tech,Khosla Ventures,2023-05-31,2023,San Francisco

In [582]:
unicorns[unicorns['Company']== 'bard']

Empty DataFrame
Columns: [Company, Valuation ($B), Date Joined, Country, Industry, Investor, Day_List, Year, City]
Index: []

In [583]:
df3333 = pd.read_csv('Unicorn+Companies/Unicorn_Companies.csv')

### Qué inversores han financiado la mayor cantidad de unicornios?

In [584]:
def obtener_inversores(df):
    lista_inversores = []

    for inversores in df['Investor']:
        lista_inversores.extend(inversores.split(','))

    lista_inversores = [inversor.strip() for inversor in lista_inversores]

    return lista_inversores

In [585]:
Investor = obtener_inversores(unicorns)
len(Investor)

14498

In [586]:
Investor

['Lowercase Capital',
 'Benchmark Capital',
 'Google Ventures',
 'Digital Sky Technologies',
 'QiMing Venture Partners',
 'Qualcomm Ventures',
 'General Catalyst Partners',
 'Andreessen Horowitz',
 'ENIAC Ventures',
 'RRE Ventures',
 'Founders\n\t  Fund',
 'In-Q-Tel',
 'Benchmark Capital',
 'General\n\t  Catalyst Partners',
 'Lightspeed Venture Partners',
 'Accel Partners',
 'Digital Sky\n\t  Technologies',
 'Iconiq Capital',
 'Matrix Partners',
 'Tiger\n\t  Global Management',
 'Softbank Corp.',
 '',
 'Founders Fund',
 'Draper\n\t  Fisher Jurvetson',
 'Rothenberg Ventures',
 'Andreessen Horowitz',
 'Bessemer Venture Partners',
 'Firstmark Capital',
 'Accel Partners',
 'Greylock\n\t  Partners',
 'Index Ventures',
 'Ping An Insurance',
 'T. Rowe Price',
 'Benchmark\n\t  Capital',
 'Wellington Management',
 'Accel Partners',
 'Sequoia\n\t  Capital',
 'Draper Fisher Jurvetson',
 'Tako Ventures',
 'ATA Ventures',
 'Horizons Ventures',
 'Norwest\n\t  Venture Partners',
 'Technology Crossover Ventures',
 'Sequoia Capital',
 'General\n\t  Atlantic',
 'Alibaba Group',
 'New Enterprise Associates',
 'New Leaf Venture Partners',
 'Charter Venture Capital',
 'Khosla Ventures',
 'Lowercase\n\t  Capital',
 'Redpoint Ventures',
 'Accel Partners',
 'Matrix\n\t  Partners',
 'Sequoia Capital',
 'Sequoia Capital',
 'Founder\n\t  Collective',
 'Wellington Management',
 'SV Angel',
 'Institutional Venture Partners',
 'Venrock',
 'Greylock Partners',
 'Ignition\n\t  Partners',
 'Google Ventures',
 'QiMing Venture Partners',
 'Lightspeed China Partners',
 'Sequoia Capital',
 'Technology Crossover\n\t  Ventures',
 'A&E; Television Networks',
 'Baseline Ventures',
 'Doll\n\t  Capital Management',
 'Institutional Venture Partners',
 'Andreessen Horowitz',
 'Nor-Cal Invest',
 'Felicis Ventures',
 'SV Angel',
 'Founders Fund',
 'Mayfield Fund',
 'Khosla\n\t  Ventures',
 'T-Venture',
 'Rocket Internet',
 'Phenomen\n\t  Ventures',
 'Insight Venture Partners',
 'Access Industries',
 'Rocket Internet',
 'Tengelmann Ventures',
 'Insight Venture Partners',
 'Andreessen Horowitz',
 'Temasek Holdings',
 'IDG Capital Partners',
 'Breyer Capital',
 'Columbia Capital',
 'Founders Fund',
 'Artis Ventures',
 'Sequoia Capital China',
 'GSR Ventures',
 'Horizons Ventures',
 'Ceyuan Ventures',
 'QiMing\n\t  Venture Partners',
 'Temasek Holdings',
 'Accel Partners',
 'Bessemer\n\t  Venture Partners',
 'Ignition Partners',
 'Flagship Ventures',
 'Invus\n\t  Group',
 'Wellington Management',
 'Founders Fund',
 'GGV Capital',
 'Digital Sky Technologies',
 'Rocket Internet',
 'Phenomen Ventures',
 'Insight Venture Partners',
 'Google Ventures',
 'Institutional Venture Partners',
 'Index Ventures',
 'Kleiner Perkins Caufield\n\t  & Byers',
 'ATEL Ventures',
 'DAG Ventures',
 'Bright Station Ventures',
 'Wellington Management',
 'Intel Capital',
 'Kalaari\n\t  Capital',
 'Nexus Venture Partners',
 'Founders Fund',
 'Mayfield\n\t  Fund',
 'Floodgate',
 'Wellington Management',
 'TomorrowVentures',
 'Mastercard Worldwide',
 'Felicis Ventures',
 'Index\n\t  Ventures',
 'Temasek Holdings',
 'New Enterprise Associates',
 'Sequoia Capital',
 'Comcast Ventures',
 'Institutional Venture\n\t  Partners',
 'Sequoia Capital',
 'General Atlantic',
 'The Social+Capital\n\t  Partnership',
 'TPG Capital',
 'Google Capital',
 'Salesforce Ventures',
 'Morgenthaler Ventures',
 'New Enterprise Associates',
 'RRE Ventures',
 'Tiger Global',
 'August Capital',
 'Verizon Communications',
 'Celgene',
 'Kuwait Investment Authority',
 'Battery Ventures',
 'Khosla Ventures',
 'Wellington Management',
 'Intel Capital',
 'Sapphire\n\t  Ventures',
 'Alibaba Group',
 'Sequoia Capital',
 'Thrive Capital',
 'SV Angel',
 'Institutional Venture\n\t  Partners',
 'Benchmark Capital',
 'Founders Fund',
 'L Capital Partners',
 'Khosla Ventures',
 'Kleiner\n\t  Perkins Caufield & Byers',
 'Collaborative Fund',
 'Bessemer Venture Partners',
 'First Round Capital',
 'BoxGroup',
 'Obvious Ventures',
 'Qualcomm\n\t  Ventures',
 'Andreessen Horowitz',
 'Accel Partners',
 'DAG\n\t  Ventures',
 'Draper Fisher Jurvetson',
 'Founders Fund',
 'Khosla Ventures',
 'Goldman Sachs',
 'BoxGroup',
 'Formation8',
 'Khosla Ventures',
 'General Catalyst Partners',
 'Iconiq Capital',
 'Lightspeed Venture Partners',
 'Intel Capital',
 'Salesforce\n\t  Ventures',
 'Union Square Ventures',
 'Accel Partners',
 'Index Ventures',
 'Insight Venture Partners',
 'Microsoft Ventures',
 'US\n\t  Venture Partners',
 'Kleiner Perkins Caufield & Byers',
 'Sequoia Capital',
 'General Atlantic',
 'Tencent',
 'Morningside Group',
 'New Enterprise Associates',
 'Sapphire Ventures',
 'Salesforce Ventures',
 'SV Angel',
 'RRE Ventures',
 'New Enterprise Associates',
 'Accel Partners',
 'Thrive Capital',
 'Norwest Venture Partners',
 'Access Industries',
 'Clal\n\t  Industries and Investments',
 'New Enterprise Associates',
 'Tiger Global management',
 'Tencent',
 'DAG Ventures',
 'Sequoia\n\t  Capital',
 'Benchmark Capital',
 'Accomplice',
 'GGV Capital',
 'Redpoint Ventures',
 'Empire Ventures',
 'Foundational Capital',
 'Oak Investment Partners',
 'Tiger Global',
 'Sequoia Capital',
 'Google Capital',
 'Tengelmann Ventures',
 'Rocket\n\t  Internet',
 'Summit Partners',
 'Sequoia Capital',
 'Legend Capital',
 'Warburg Pincus',
 'Khosla Ventures',
 'Technology\n\t  Crossover Ventures',
 'Tribeca Venture Partners',
 'BoxGroup',
 'Felicis Ventures',
 'First Round Capital',
 'Digital Sky Technologies',
 'Piton Capital',
 'DN Capital',
 'TPG Growth',
 'Andreessen Horowitz',
 'Floodgate',
 'Sequoia Capital',
 'Azure Capital Partners',
 'Battery Ventures',
 'Intel Capital',
 'Insight Venture Partners',
 'Lowercase Capital',
 'Polaris Partners',
 'Bessemer Venture Partners',
 'Draper Fisher Jurvetson',
 'Redpoint Ventures',
 'GreatPoint Ventures',
 'New Enterprise Associates',
 'Caterpillar',
 'Andreessen Horowitz',
 'CRV',
 'Bertelsmann Digital Media Investments',
 'Novartis',
 'Essex Woodlands',
 'The Carlyle Group',
 'Greylock Partners',
 'North\n\t  Bridge Venture Partners',
 'Technology Crossover Ventures',
 'Draper Fisher Jurtson',
 'Qualcomm Ventures',
 'Alibaba Group',
 'Benchmark Capital',
 'DAG\n\t  Ventures',
 'Insight Venture Partners',
 'Greylock Partners',
 'Lightspeed Venture Partners',
 'Lowercase Capital',
 'GSV Capital',
 'Norwest\n\t  Venture Partners',
 'Pinnacle Ventures',
 'Rocket Internet',
 'JP Morgan Chase & Co.',
 'Google Ventures',
 'New Enterprise Associates',
 'MPM Capital',
 'Sequoia Capital China',
 'Sina Weibo',
 'Kleiner Perkins Caufield & Byers',
 'Redpoint Ventures',
 'IA Ventures',
 'Index\n\t  Ventures',
 'SV Angel',
 'IDG Ventures',
 'Kleiner\n\t  Perkins Caufield & Byers',
 'Buran Venture Capital',
 'Redpoint Ventures',
 'QiMing Venture Partners',
 'Chengwei Capital',
 'New Enterprise Associates',
 'Pelion Venture Partners',
 'Union Square Ventures',
 'Sequoia Capital',
 'SoftTech\n\t  VC',
 'Tiger Global Management',
 'Accel Partners',
 'Greylock\n\t  Partners',
 'Lowercase Capital',
 'Battery Ventures',
 'Kleiner\n\t  Perkins Caufield & Byers',
 'Institutional Venture Partners',
 'Advent Venture Partners',
 'Index Ventures',
 'e.ventures',
 'Accel Partners',
 'Swisscom\n\t  Ventures',
 'Meritech Capital Partners',
 'Accel Partners',
 'OMERS\n\t  Ventures',
 'Insight Venture Partners',
 'Intel Capital',
 'Redpoint\n\t  Ventures',
 'Pinnacle Ventures',
 'Accel Partners',
 'Index\n\t  Ventures',
 'Ribbit Capital',
 'GGV Capital',
 'QiMing Venture Partnersl',
 'Accel Partners',
 'Intel\n\t  Capital',
 'Broadline Capital',
 'UBS',
 'QiMing Venture Partners',
 'Steam boat Ventures',
 'Sequoia Capital',
 'VY Capital',
 'Matrix Partners',
 'Passport\n\t  Capital',
 'Rho Ventures',
 'Accel Partners',
 'Insight\n\t  Venture Partners',
 'Sequoia Capital',
 'IDG Capital Partners',
 'QiMing Venture Partners',
 'Banyan Capital',
 'Data Collective',
 'Formation\n\t  8',
 'Feneral Catalyst Partners',
 'GGV Capital',
 'Vertex Venture\n\t  Holdings',
 'Softbank Corp.',
 'Banyan Capital',
 'New Horizon\n\t  Capital',
 'IDG Capital Partners',
 'WI Harper Group',
 'Fang Fund Partners',
 'NewMarging Ventures',
 'Formation 8',
 'Felicis Ventures',
 'Iconiq\n\t  Capital',
 'Insight Venture Partners',
 'Tiger Global Management',
 'Norwest Venture Partners',
 'Kleiner Perkins Caufield\n\t  & Byers',
 'Softbank Corp.',
 'Sherpalo Ventures',
 'Morningside Group',
 'GGV Capital',
 'Banyan Capital',
 'Summit Partners',
 'CVC Capital Partners',
 'Sequoia Capital',
 'Tenaya Capital',
 'Northgate Capital',
 'Battery Ventures',
 'Iconiq Capital',
 'T. Rowe Price',
 'Pentech Ventures',
 'Bullpen Capital',
 'KKR',
 'GSO Capital Partners',
 'Franklin Square',
 'TPG Growth',
 'Lightspeed Venture Partners',
 'Accel Partners',
 'Comcast Ventures',
 'General Atlantic',
 'Union Square Ventures',
 'RRE Ventures',
 'Spark Capital',
 'Sequoia Capital',
 'TPG capital',
 'Accel Partners',
 'Google Ventures',
 'Sequoia Capital',
 'Wakefield Group',
 'Iconiq Capital',
 'K1 Capital',
 'Salesforce Ventures',
 'Foundry Group',
 'iNovia Capital',
 'StarVest Partners',
 'BlueRun Ventures',
 'SV Angel',
 'Mohr Davidow Ventures',
 'Technology Crossover Ventures',
 'General Catalyst Partners',
 'QiMing Venture Partners',
 'Temasek Holdings',
 'Silverlink Capital',
 'Lowercase Capital',
 'Benchmark Capital',
 'Google Ventures',
 'Digital Sky Technologies',
 'QiMing Venture Partners',
 'Qualcomm Ventures',
 'Matrix Partners',
 'Tiger\n\t  Global Management',
 'Softbank Corp.',
 '',
 'General Catalyst Partners',
 'Andreessen Horowitz',
 'ENIAC Ventures',
 'RRE Ventures',
 'Founders\n\t  Fund',
 'In-Q-Tel',
 'Ping An Insurance CDH Investments',
 'Bank of China',
 'DST Global',
 'Trustbridge Partners',
 'Capital Today',
 'Benchmark Capital',
 'General\n\t  Catalyst Partners',
 'Lightspeed Venture Partners',
 'T. Rowe Price',
 'Benchmark\n\t  Capital',
 'Wellington Management',
 'Accel Partners',
 'Digital Sky\n\t  Technologies',
 'Iconiq Capital',
 'Founders Fund',
 'Draper\n\t  Fisher Jurvetson',
 'Rothenberg Ventures',
 'Andreessen Horowitz',
 'Bessemer Venture Partners',
 'Firstmark Capital',
 'Accel Partners',
 'Greylock\n\t  Partners',
 'Index Ventures',
 'Blackstone Group',
 'Koch Industries',
 'Accel Partners',
 'Sequoia\n\t  Capital',
 'Khosla Ventures',
 'Lowercase\n\t  Capital',
 'capitalG',
 'Horizons Ventures',
 'Norwest\n\t  Venture Partners',
 'Technology Crossover Ventures',
 'SAIF partners',
 'CDH Investments',
 'Morgan Stanley',
 'Intel Capital',
 'Kalaari\n\t  Capital',
 'Nexus Venture Partners',
 'Tencent',
 'Baidu',
 'Huasheng Capital',
 'Aviation Industry Corporation of China',
 'Essence Financial',
 'Jiangsu Sha Steel Group',
 'Founders Fund',
 'Mayfield\n\t  Fund',
 'Floodgate',
 'New Enterprise Associates',
 'New Leaf Venture Partners',
 'Charter Venture Capital',
 'Accel Partners',
 'Matrix\n\t  Partners',
 'Sequoia Capital',
 'Sequoia Capital',
 'Founder\n\t  Collective',
 'Wellington Management',
 'Intel Capital',
 'Sapphire\n\t  Ventures',
 'Alibaba Group',
 'Sequoia Capital China',
 'GSR Ventures',
 'Horizons Ventures',
 'Obvious Ventures',
 'Qualcomm\n\t  Ventures',
 'Andreessen Horowitz',
 'Greylock Partners',
 'Ignition\n\t  Partners',
 'Google Ventures',
 'Formation 8',
 'Technology Crossover\n\t  Ventures',
 'A&E; Television Networks',
 'Baseline Ventures',
 'Doll\n\t  Capital Management',
 'Institutional Venture Partners',
 'Google Ventures',
 'Institutional Venture Partners',
 'Index Ventures',
 'Keytone Ventures',
 'Khazanah Nasional Berhad',
 'General Atlantic',
 'Andreessen Horowitz',
 'Nor-Cal Invest',
 'Felicis Ventures',
 'SV Angel',
 'Founders Fund',
 'Rocket Internet',
 'Phenomen\n\t  Ventures',
 'Insight Venture Partners',
 'Insight Venture Partners',
 'Andreessen Horowitz',
 'Temasek Holdings',
 'Warmsun Holding',
 'IDG Capital Partners',
 'Ceyuan Ventures',
 'QiMing\n\t  Venture Partners',
 'Temasek Holdings',
 'Accel Partners',
 'Bessemer\n\t  Venture Partners',
 'Ignition Partners',
 'GGV Capital',
 'Vertex Venture\n\t  Holdings',
 'Softbank Corp.',
 'Flagship Ventures',
 'Invus\n\t  Group',
 'Wellington Management',
 'Founders Fund',
 'GGV Capital',
 'Digital Sky Technologies',
 'Ford Motor Company',
 'General Electric',
 'Microsoft',
 'BoxGroup',
 'Formation8',
 'Khosla Ventures',
 'Kleiner Perkins Caufield\n\t  & Byers',
 'ATEL Ventures',
 'DAG Ventures',
 'Wellington Management',
 'TomorrowVentures',
 'Mastercard Worldwide',
 'Felicis Ventures',
 'Index\n\t  Ventures',
 'Temasek Holdings',
 'New Enterprise Associates',
 'Sequoia Capital',
 'Comcast Ventures',
 'Institutional Venture\n\t  Partners',
 'Sequoia Capital',
 'General Atlantic',
 'Rocket Internet',
 'Phenomen Ventures',
 'Insight Venture Partners',
 'The Social+Capital\n\t  Partnership',
 'TPG Capital',
 'Google Capital',
 'Zheshang Venture Capital',
 'GP Capital',
 'Western Capital Management',
 'SV Angel',
 'Institutional Venture Partners',
 'Venrock',
 'DST Global',
 'QED Investors',
 'TPG Capital',
 'RRE Ventures',
 'Tiger Global',
 'August Capital',
 'Sequoia Capital',
 'Thrive Capital',
 'SV Angel',
 'Institutional Venture\n\t  Partners',
 'Benchmark Capital',
 'Founders Fund',
 'L Capital Partners',
 'Tencent',
 'iDreamSky Technology',
 'GGV Capital',
 'Khosla Ventures',
 'Kleiner\n\t  Perkins Caufield & Byers',
 'Collaborative Fund',
 'Bessemer Venture Partners',
 'First Round Capital',
 'BoxGroup',
 'Accel Partners',
 'DAG\n\t  Ventures',
 'Draper Fisher Jurvetson',
 'Battery Ventures',
 'Kleiner\n\t  Perkins Caufield & Byers',
 'Institutional Venture Partners',
 'Founders Fund',
 'Khosla Ventures',
 'Goldman Sachs',
 'Azure Capital Partners',
 'Battery Ventures',
 'Intel Capital',
 'Tencent',
 'General Catalyst Partners',
 'Iconiq Capital',
 'Lightspeed Venture Partners',
 'SV Angel',
 'RRE Ventures',
 'New Enterprise Associates',
 'Northview Ventures',
 'dievini Hopp BioTech Holding & Co.m Baillie Gifford & Co.',
 'Intel Capital',
 'Salesforce\n\t  Ventures',
 'Union Square Ventures',
 'Accel Partners',
 'Index Ventures',
 'Insight Venture Partners',
 'China Continent Property & Casualty Insurance',
 'China Renaissance Capital Investment',
 'China Taiping Life Insurance',
 'Delphi Automotive',
 'Samsung Ventures',
 'Motus Ventures',
 'IFC',
 'Ajinomoto',
 'AID Partners',
 'Draper Fisher Jurvetson',
 'Illumina',
 'Invesco Perpetual',
 'IP Group',
 'Microsoft Ventures',
 'US\n\t  Venture Partners',
 'Kleiner Perkins Caufield & Byers',
 'Sequoia Capital',
 'General Atlantic',
 'Tencent',
 'TPG Growth',
 'Hony Capital',
 'Mayfield Fund',
 'Khosla\n\t  Ventures',
 'T-Venture',
 'Tencent',
 'Morningside Group',
 'Advent Venture Partners',
 'Index Ventures',
 'e.ventures',
 'Accel Partners',
 'Intel\n\t  Capital',
 'New Enterprise Associates',
 'Sapphire Ventures',
 'Salesforce Ventures',
 'Jay-Z',
 'Saudi Royal Family',
 'Jet Edge',
 'Access Industries',
 'Clal\n\t  Industries and Investments',
 'Sequoia Capital',
 'iGlobe Partners',
 'DFJ Growth',
 'New Enterprise Associates',
 'Tiger Global management',
 'Tencent',
 'Foxconn',
 'Tiger Global management',
 'Tencent',
 'Accomplice',
 'GGV Capital',
 'Redpoint Ventures',
 'Empire Ventures',
 'Foundational Capital',
 'Oak Investment Partners',
 'Iconiq Capital',
 'K1 Capital',
 'Salesforce Ventures',
 'Formation Group',
 'Sequoia Capital India',
 'Warburg Pincus',
 'Tiger Global',
 'Sequoia Capital',
 'Google Capital',
 'Stone Point Capital',
 'Google Capital',
 'Roche Venture Fund',
 'Google Ventures',
 'Social Capital',
 'Khosla Ventures',
 'Technology\n\t  Crossover Ventures',
 'Tribeca Venture Partners',
 'BoxGroup',
 'Felicis Ventures',
 'First Round Capital',
 'Digital Sky Technologies',
 'Piton Capital',
 'DN Capital',
 'Celgene',
 'GE Ventures',
 'Draper Fisher Jurvetson',
 'TPG Growth',
 'Andreessen Horowitz',
 'Floodgate',
 'Sequoia Capital',
 'Andreessen Horowitz',
 'GGV Capital',
 'T. Rowe Price',
 'Insight Venture Partners',
 'Lowercase Capital',
 'Polaris Partners',
 'Access Industries',
 'Rocket Internet',
 'Tengelmann Ventures',
 'Nexus Venture Partners',
 'GIC Special Investments',
 'Tiger Global Management',
 'GreatPoint Ventures',
 'New Enterprise Associates',
 'Caterpillar',
 'Novartis',
 'Essex Woodlands',
 'The Carlyle Group',
 'Greylock Partners',
 'North\n\t  Bridge Venture Partners',
 'Technology Crossover Ventures',
 'Draper Fisher Jurtson',
 'Qualcomm Ventures',
 'Alibaba Group',
 'Benchmark Capital',
 'DAG\n\t  Ventures',
 'Insight Venture Partners',
 'IA Ventures',
 'Index\n\t  Ventures',
 'SV Angel',
 'Google Ventures',
 'New Enterprise Associates',
 'MPM Capital',
 'Kohlberg Kravis Roberts & Co.',
 'TowerBrook Capital Partners',
 'Shasta Ventures',
 'Granite Ventures',
 'DFJ Growth Fund',
 'Sequoia Capital China',
 'Rich Land Capital',
 'Merrysunny Wealth',
 'AXA',
 'Foundry Group',
 'iNovia Capital',
 'StarVest Partners',
 'Berkshire Partners',
 'Norwest Venture Partners',
 'Tencent Holdings',
 'DCM Ventures',
 'All-Stars Investment',
 'STC Ventures',
 'Al Tayyar Travel Group',
 'Wamda Capital',
 'Norwest Venture Partners',
 'New Enterprise Associates',
 'Khosla Ventures',
 'Andreessen Horowitz',
 'CRV',
 'Bertelsmann Digital Media Investments',
 'China Mobile',
 'Matrix Partners China',
 'Warbug Pincus',
 'Eight Roads Ventures',
 'Sunstone Capital',
 'Connor Venture Capital',
 'Sequoia Capital China',
 'Sina Weibo',
 'Kleiner Perkins Caufield & Byers',
 'Redpoint Ventures',
 'Sequoia Capital',
 'IDG Ventures',
 'Kleiner\n\t  Perkins Caufield & Byers',
 'Buran Venture Capital',
 'Redpoint Ventures',
 'QiMing Venture Partners',
 'Chengwei Capital',
 'Greylock Partners',
 'Lightspeed Venture Partners',
 'Lowercase Capital',
 'New Enterprise Associates',
 'Pelion Venture Partners',
 'Union Square Ventures',
 'Sequoia Capital',
 'SoftTech\n\t  VC',
 'Tiger Global Management',
 'Bessemer Venture Partners',
 "O'Connor Ventures",
 'Iconiq Capital',
 'Accel Partners',
 'Greylock\n\t  Partners',
 'Lowercase Capital',
 'Accel Partners',
 'Swisscom\n\t  Ventures',
 'Meritech Capital Partners',
 'Accel Partners',
 'OMERS\n\t  Ventures',
 'Insight Venture Partners',
 'Accel Partners',
 'Index\n\t  Ventures',
 'Ribbit Capital',
 'GGV Capital',
 'QiMing Venture Partnersl',
 'Broadline Capital',
 'UBS',
 'QiMing Venture Partners',
 'Steam boat Ventures',
 'Sequoia Capital',
 'VY Capital',
 'Matrix Partners',
 'Passport\n\t  Capital',
 'Rho Ventures',
 'Accel Partners',
 'Insight\n\t  Venture Partners',
 'Sequoia Capital',
 'IDG Capital Partners',
 'QiMing Venture Partners',
 'Banyan Capital',
 'Data Collective',
 'Formation\n\t  8',
 'General Catalyst Partners',
 'Banyan Capital',
 'New Horizon\n\t  Capital',
 'IDG Capital Partners',
 'WI Harper Group',
 'Fang Fund Partners',
 'NewMarging Ventures',
 'Kleiner Perkins Caufield\n\t  & Byers',
 'Softbank Corp.',
 'Sherpalo Ventures',
 'Morningside Group',
 'GGV Capital',
 'Banyan Capital',
 'Summit Partners',
 'CVC Capital Partners',
 'Sequoia Capital',
 'Tenaya Capital',
 'Northgate Capital',
 'Pentech Ventures',
 'Bullpen Capital',
 'KKR',
 'GSO  Square',
 'Accel Partners',
 'Comcast Ventures',
 'General Atlantic',
 'Union Square Ventures',
 'RRE Ventures',
 'Spark Capital',
 'Sequoia Capital',
 'TPG capital',
 'Accel Partners',
 'Google Ventures',
 'Sequoia Capital',
 'Wakefield Group',
 'BlueRun Ventures',
 'SV Angel',
 'Mohr Davidow Ventures',
 'Technology Crossover Ventures',
 'General Catalyst Partners',
 'QiMing Venture Partners',
 'Temasek Holdings',
 'Silverlink Capital',
 'General Catalyst Partners',
 'Google Ventures',
 'Kleiner Perkins Caufield & Byers',
 'Guo Jin Capital',
 'Alpha Animation & Culture',
 'Sequoia Capital China',
 'DST',
 'Greenwoods Asset Management',
 'Sequoia Capital China',
 'Sailing Capital',
 'Star VC',
 'Hinduja Group',
 'Tiger Global Management',
 'Naspers',
 'Baillie Gifford & Co.',
 'East Ventures',
 'Global Brain Corporation',
 'ITOCHU Technology Ventures',
 'Sequoia Capital China',
 'ZhenFund',

### Países con más unicornios

aca hacer  un mapa porque el de P.BI no me gusta

In [587]:
datos2023 = unicorns[unicorns['Year']==2023]

In [588]:
datos2023['Country'].unique()

array(['China', 'United States', 'Australia', 'United Kingdom',
       'Indonesia', 'Germany', 'India', 'Hong Kong', 'Israel',
       'Seychelles', 'Sweden', 'Turkey', 'Mexico', 'Estonia', 'Canada',
       'South Korea', 'Netherlands', 'France', 'Finland', 'Colombia',
       'Belgium', 'Brazil', 'Denmark', 'Switzerland', 'Lithuania',
       'Austria', 'Ireland', 'Singapore', 'Vietnam',
       'United Arab Emirates', 'Argentina', 'Spain', 'Greece', 'Japan',
       'Luxembourg', 'Nigeria', 'Croatia', 'Senegal', 'Malaysia',
       'Bermuda', 'South Africa', 'Norway', 'Ecuador', 'Chile',
       'Thailand', 'Czech Republic', 'Egypt', 'Liechtenstein', 'Italy',
       'Philippines', 'London'], dtype=object)

### ¿Comparación con PBI del país al que pertenece o con otros países? (AB testing)

## 2.2. Datos Históricos

### ¿Cómo han crecido las empresas unicornio a través del tiempo?

In [589]:
years = unicorns.groupby('Year')['Company'].count().reset_index()

In [590]:
fig = px.line(years, x="Year", y="Company", 
              title='Evolución de Epresas Unicornios', 
              template="plotly_dark") 
fig.show()

### ¿Qué industria ha crecido más?

In [616]:
industry = unicorns.groupby(['Industry','Year'])['Company'].count().reset_index()

In [617]:
industry['Industry'].nunique()

124

In [618]:
dic = {  'AI':"Artificial Intelligence",
 'AI / Facial Recognition':"Artificial Intelligence",
 'AI / Robotics':"Artificial Intelligence",
 'AR/VR':"Realidad virtual",
 'AdTech':"Advertising Technology",
 'Adtech':"Advertising Technology",
 'Ag Tech':"tecnología agrícola.",
 'Apparel':"Clothing & Accessories",
 'Artificial Intelligence':"Artificial Intelligence",
 'Artificial intelligence':"Artificial Intelligence",
 'Auto & transportation':"Automobile & transportation",
 'Auto Tech':"Automobile & transportation",
 'AutoTech':"Automobile & transportation",
 'Automobile':"Automobile & transportation",
 'BI & Analytics':"Business Intelligence",
 'Beauty & grooming':"Beauty & grooming",
 'Big Data':"Big Data",
 'Biotech':"Biotechnology",
 'Biotechnology':"Biotechnology",
 'Blockchain':"Blockchain",
 'Business Intelligence, Analytics & Performance Mgmt':"Business Intelligence",
 'Business Products & Services':"Business Intelligence",
 'Chips & Semiconductors':"Chips & Semiconductors",
 'Cleantech':"Cleantech",
 'Clothing & Accessories':"Clothing & Accessories",
 'Clothing and Accessories':"Clothing & Accessories",
 'Collaboration & Project Management':"Internet software & services",
 'Computer Hardware & Services':"Hardware",
 'Computer Vision':"Artificial Intelligence",
 'Computer Vision/ AI':"Artificial Intelligence",
 'Construction Tech':"Construction Tech",
 'Consumer & Retail':"Consumer & Retail",
 'Consumer & retail':"Consumer & Retail",
 'Consumer Electronics':"Electronics",
 'Consumer Hardware':"Hardware",
 'Cybersecurity':" Cybersecurity",
 'Cybsersecurity':" Cybersecurity",
 'Data Storage':"Data Storage",
 'Data management & analytics':"Data management & analytics",
 'DevOps':"Internet software & services",
 'Digital Health':" Digital Health",
 'Digital Media':" Digital Media",
 'Digital Media/ AI':" Digital Media",
 'Digital health':" Digital Health",
 'E-commerce & direct-to-consumer':" e-commerce",
 'Ed Tech':" Education Tech",
 'EdTech':" Education Tech",
 'Edtech':" Education Tech",
 'Education':" Education Tech",
 'Energy & Utilities':" Energy & Utilities",
 'Enterprise Tech':"Internet software & services",
 'Entertainment':"Entertainment",
 'Facilities':"Facilities",
 'Film & Video':"Film & Video",
 'Fin Tech':"Finance Technology",
 'Financial Services':"Finance Technology",
 'Fintech':"Finance Technology",
 'Fintech / Supply Chain':"Finance Technology",
 'Finttech':"Finance Technology",
 'Fitness':" Fitness",
 'Food & Beverage':" Food & Beverage",
 'Food & Beverages':" Food & Beverage",
 'Food & Grocery':" Food & Beverage",
 'Food Delivery':" Food & Beverage",
 'Food and Beverage':" Food & Beverage",
 'Gaming':"Gaming",
 'Genomics':"Health & Wellnes",
 'Greentech':"Cleantech",
 'HR & Workforce Management':"Human Resources Tech",
 'HR Tech':"Human Resources Tech",
 'Hardware':"Hardware",
 'Health':"Health & Wellnes",
 'Health & Wellnes':"Health & Wellnes",
 'Healthcare':"Health & Wellnes",
 'Healthcare & Life Sciences':"Health & Wellnes",
 'Industrials':"Industrials",
 'InsurTech':"Insurance",
 'Insurance':"Insurance",
 'Internet Software &\n\t Services':"Internet Software & Services",
 'Internet Software & Services':"Internet Software & Services",
 'Internet of Things':"Internet Software & Services",
 'Internet software & services':"Internet Software & Services",
 'IoT':"Internet Software & Services",
 'Management & Strategy Consulting':"Business Intelligence",
 'Marketplace':" Marketplace",
 'Media':" Media & Entertainment",
 'Media & Entertainment':" Media & Entertainment",
 'Mobile & Telecommunications':" Mobile & Telecommunications",
 'Mobile & telecommunications':" Mobile & Telecommunications",
 'Mobile Software &\n\t Services':" Mobile Software & Services",
 'Mobile Software & Services':" Mobile Software & Services",
 'Music':" Music",
 'On Demand':"OnDemand",
 'On-Demand':"OnDemand",
 'On-demand':"OnDemand",
 'Other':"Other",
 'Other Transportation':"Other",
 'Real Estate':"Real Estate",
 'RegTech':"RegTech",
 'Restaurant Tech':"Restaurant Tech",
 'Retail':"Consumer & Retail",
 'Robotic Process Automation':"Robotics",
 'Robotics':"Robotics",
 'Sales Tech':"SalesTech",
 'SalesTech':"SalesTech",
 'Social':"Media & Entertainment",
 'SpaceTech':"Industrials",
 'Supply Chain':"Supply Chain",
 'Supply Chain & Logistics':"Supply Chain",
 'Supply Chain Tech':"Supply Chain",
 'Supply chain & Logistics':"Supply Chain",
 'Supply chain, logistics, & delivery':"Supply Chain",
 'Supplychain/ logistics':"Supply Chain",
 'Telecommunications':"Telecommunications",
 'Travel':"Travel Tech",
 'Travel Tech':"Travel Tech",
 'TravelTech':"Travel Tech",
 'VR/AR':"Realidad virtual",
 'e-commerce':"e-commerce",
 'eCommerce':"e-commerce",
 'eCommerce/Marketplace':"e-commerce",
 'eSports':"e-commerce",
 'ecommerce':"e-commerce"}

In [619]:
# reemplazamos por los valores que hemos identidicado con el diccionario para reducir la cantidad de categorías.
industry.replace(dic, inplace=True)

In [634]:
industry['Industry'].nunique()

58

In [649]:
unicorns.head()

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year,City
0,Uber,51.0,2013-08-23,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",2015-12-11,2015,no_data
1,Xiaomi,46.0,2011-12-21,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",2015-12-11,2015,no_data
2,Airbnb,25.5,2011-07-26,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor...",2015-12-11,2015,no_data
3,Palantir\n\t Technologies,20.0,2011-05-05,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2015-12-11,2015,no_data
4,Snapchat,16.0,2013-12-11,United States,Social,"Benchmark Capital, General\n\t Catalyst Partn...",2015-12-11,2015,no_data

In [655]:
industry = unicorns.groupby(['Industry','Year'])['Company'].count().reset_index()

In [650]:
valuations = unicorns.groupby(['Industry','Year'])['Valuation ($B)'].sum().reset_index()

In [662]:
fig = px.bar(industry[industry['Year'] == 2023], x='Industry', y='Company', template="plotly_dark")

fig.add_trace(px.line(valuations[valuations['Year'] == 2023], x="Industry", y="Valuation ($B)", template="plotly_dark").data[0])

fig.show()

In [666]:
fig = px.bar(industry[industry['Year']==2015], x='Industry', y='Company', template="plotly_dark")
fig.add_trace(px.line(valuations[valuations['Year'] == 2015], x="Industry", y="Valuation ($B)", template="plotly_dark").data[0])

fig.show()

In [667]:
unicorns[unicorns['Industry']=='Big Data']

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year,City
3,Palantir\n\t Technologies,20.00,2011-05-05,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2015-12-11,2015,no_data
21,Cloudera,4.10,2014-03-18,United States,Big Data,"Greylock Partners, Ignition\n\t Partners, Goo...",2015-12-11,2015,no_data
52,Nutanix,2.00,2014-01-14,United States,Big Data,"Battery Ventures, Khosla Ventures, Wellington ...",2015-12-11,2015,no_data
55,Domo Technologies,2.00,2015-04-08,United States,Big Data,"Institutional Venture\n\t Partners, Benchmark...",2015-12-11,2015,no_data
64,MongoDB,1.60,2013-10-04,United States,Big Data,"Intel Capital, Salesforce\n\t Ventures, Union...",2015-12-11,2015,no_data
66,Insidesales.com,1.50,2014-04-28,United States,Big Data,"Microsoft Ventures, US\n\t Venture Partners, ...",2015-12-11,2015,no_data
67,Mu Sigma,1.50,2013-02-07,India,Big Data,"Sequoia Capital, General Atlantic",2015-12-11,2015,no_data
76,Deem,1.35,2011-11-15,United States,Big Data,"Empire Ventures,\n\t Foundational Capital, Oa...",2015-12-11,2015,no_data
89,Uptake,1.10,2015-10-27,United States,Big Data,"GreatPoint Ventures, New Enterprise Associates...",2015-12-11,2015,no_data
92,Actifio,1.10,2014-03-24,United States,Big Data,"Greylock Partners, North\n\t Bridge Venture P...",2015-12-11,2015,no_data
106,AppDynamics,1.00,2014-07-22,United States,Big Data,"Battery Ventures, Kleiner\n\t Perkins Caufiel...",2015-12-11,2015,no_data
108,SimpliVity,1.00,2015-03-10,United States,Big Data,"Accel Partners, Swisscom\n\t Ventures, Merite...",2015-12-11,2015,no_data
118,Qualtrics,1.00,2014-09-24,United States,Big Data,"Accel Partners, Insight\n\t Venture Partners,...",2015-12-11,2015,no_data
130,MarkLogic,1.00,2015-05-12,United States,Big Data,"Sequoia Capital, Tenaya Capital, Northgate Cap...",2015-12-11,2015,no_data
4,Palantir\n\t Technologies,20.00,2011-05-05,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2016-12-23,2016,no_data
28,Cloudera,4.10,2014-03-18,United States,Big Data,"Greylock Partners, Ignition\n\t Partners, Goo...",2016-12-23,2016,no_data
58,Domo Technologies,2.00,2015-04-08,United States,Big Data,"Institutional Venture\n\t Partners, Benchmark...",2016-12-23,2016,no_data
64,AppDynamics,1.90,2014-07-22,United States,Big Data,"Battery Ventures, Kleiner\n\t Perkins Caufiel...",2016-12-23,2016,no_data
71,MongoDB,1.60,2013-10-04,United States,Big Data,"Intel Capital, Salesforce\n\t Ventures, Union...",2016-12-23,2016,no_data
78,Insidesales.com,1.50,2014-04-28,United States,Big Data,"Microsoft Ventures, US\n\t Venture Partners, ...",2016-12-23,2016,no_data
79,Mu Sigma,1.50,2013-02-07,United States,Big Data,"Sequoia Capital, General Atlantic",2016-12-23,2016,no_data
92,Deem,1.35,2011-11-15,United States,Big Data,"Empire Ventures,\n\t Foundational Capital, Oa...",2016-12-23,2016,no_data
108,Uptake,1.10,2015-10-27,United States,Big Data,"GreatPoint Ventures, New Enterprise Associates...",2016-12-23,2016,no_data
110,Actifio,1.10,2014-03-24,United States,Big Data,"Greylock Partners, North\n\t Bridge Venture P...",2016-12-23,2016,no_data
115,OVH,1.10,2015-07-03,France,Big Data,"Kohlberg Kravis Roberts & Co.,TowerBrook Capit...",2016-12-23,2016,no_data
136,SimpliVity,1.00,2015-03-10,United States,Big Data,"Accel Partners, Swisscom\n\t Ventures, Merite...",2016-12-23,2016,no_data
144,Qualtrics,1.00,2014-09-24,United States,Big Data,"Accel Partners, Insight\n\t Venture Partners,...",2016-12-23,2016,no_data
152,MarkLogic,1.00,2015-05-12,United States,Big Data,"Sequoia Capital, Tenaya Capital, Northgate Cap...",2016-12-23,2016,no_data
6,Palantir\n\t Technologies,20.00,2011-05-05,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2017-12-23,2017,no_data
60,Qualtrics,2.50,2014-09-24,United States,Big Data,"Accel Partners, Insight\n\t Venture Partners,...",2017-12-23,2017,no_data
63,Uptake,2.30,2015-10-27,United States,Big Data,"Revolution, New Enterprise Associates, Caterpi...",2017-12-23,2017,no_data
72,Domo Technologies,2.00,2015-04-08,United States,Big Data,"Institutional Venture\n\t Partners, Benchmark...",2017-12-23,2017,no_data
100,Insidesales.com,1.50,2014-04-28,United States,Big Data,"Microsoft Ventures, US\n\t Venture Partners, ...",2017-12-23,2017,no_data
101,Mu Sigma,1.50,2013-02-07,United States,Big Data,"Sequoia Capital, General Atlantic",2017-12-23,2017,no_data
143,Actifio,1.10,2014-03-24,United States,Big Data,"Greylock Partners, North\n\t Bridge Venture P...",2017-12-23,2017,no_data
146,OVH,1.10,2015-07-03,France,Big Data,"Kohlberg Kravis Roberts & Co.,TowerBrook Capit...",2017-12-23,2017,no_data
177,MarkLogic,1.00,2015-05-12,United States,Big Data,"Sequoia Capital, Tenaya Capital, Northgate Cap...",2017-12-23,2017,no_data
5,Palantir\n\t Technologies,20.00,2011-05-05,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",2018-12-29,2018,no_data
88,Uptake,2.30,2015-10-27,United States,Big Data,"Revolution, New Enterprise Associates, Caterpi...",2018-12-29,2018,no_data
124,Insidesales.com,1.70,2014-04-28,United States,Big Data,"Microsoft Ventures, US\n\t Venture Partners, ...",2018-12-29,2018,no_data
140,Mu Sigma,1.50,2013-02-07,United States,Big Data,"Sequoia Capital, General Atlantic",2018-12-29,2018,no_data
196,Actifio,1.10,2014-03-24,United States,Big Data,"Greylock Partners, North\n\t Bridge Venture P...",2018-12-29,2018,no_data
199,OVH,1.10,2015-07-03,France,Big Data,"Kohlberg Kravis Roberts & Co.,TowerBrook Capit...",2018-12-29,2018,no_data
226,MarkLogic,1.00,2015-05-12,United States,Big Data,"Sequoia Capital, Tenaya Capital, Northgate Cap...",2018-12-29,2018,no_data

In [670]:
unicorns[unicorns['Company']=='Mu Sigma']

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,Day_List,Year,City
67,Mu Sigma,1.5,2013-02-07,India,Big Data,"Sequoia Capital, General Atlantic",2015-12-11,2015,no_data
79,Mu Sigma,1.5,2013-02-07,United States,Big Data,"Sequoia Capital, General Atlantic",2016-12-23,2016,no_data
101,Mu Sigma,1.5,2013-02-07,United States,Big Data,"Sequoia Capital, General Atlantic",2017-12-23,2017,no_data
140,Mu Sigma,1.5,2013-02-07,United States,Big Data,"Sequoia Capital, General Atlantic",2018-12-29,2018,no_data
205,Mu Sigma,1.5,2013-02-07,United States,Data management & analytics,"Sequoia Capital, General Atlantic",2019-12-31,2019,no_data
380,Mu Sigma,1.0,2013-02-07,United States,Data management & analytics,"Sequoia Capital, General Atlantic",2020-12-31,2020,no_data
490,Mu Sigma,1.5,2013-02-07,United States,Data management & analytics,"Sequoia Capital, General Atlantic",2021-12-31,2021,Northbrook
611,Mu Sigma,1.5,2013-02-07,United States,Data management & analytics,"Sequoia Capital, General Atlantic",2022-11-15,2022,Northbrook
626,Mu Sigma,1.5,2013-02-07,United States,Enterprise Tech,"Sequoia Capital, General Atlantic",2023-05-31,2023,Northbrook

In [642]:
industry[industry['Company']=='23andMe']

Empty DataFrame
Columns: [Industry, Year, Company]
Index: []

### ¿Hace cuánto tiempo están en el top 10 las empresas del 2023?

In [595]:
años = unicorns.groupby('Year')['Company'].count().reset_index()

# 3. Machine Learning

# 4. Conclusiones

In [596]:
# unicorns.to_csv('unicorns_powerbi.csv', header=True, index=False)

In [598]:
unicorns.to_excel('unicorns.xlsx', header=True, index=False)